import(methods)
import(Biobase)
importFrom(XML,
	xmlRoot,
	xmlInternalTreeParse,
	xmlParseDoc,
	HUGE,
	getNodeSet,
	xmlValue)
importFrom(RCurl,
	getURL)
importFrom(rentrez,
           entrez_search,
           entrez_summary)
export(parseGEO,
	parseGSM,
	parseGSE,
	parseGDS,
	parseGPL,
	getGEO,
	GDS2MA,
	GDS2eSet,
	getGEOfile,
	gunzip,
	getGEOSuppFiles,
	getGSEDataTables,
  queryGEO)
exportClasses("GDS","GEODataTable","GEOData","GSE","GPL","GSM","GDS")
exportMethods("Meta","Columns","GPLList","GSMList","Table","dataTable","Accession","show")
